<app-header></app-header>

<div class="header-text">
    <h1> List of Products </h1>
</div>


<div class="main" >

<div class="row" *ngFor= "let product of products">
  <div class="column ">
    <div class="content">
        <img [src]="['../assets/photos/' + product?.productImageName+'.jpg']" style="width: 100%;">
        <h4><b>Name: </b>{{product?.productName}}</h4>
        <p class="m-0"><b>Category: </b>{{product?.categoryName}}</p>
        <p class="m-0"><b>Description: </b>{{product?.productDescription}}</p>
        <p class="m-0"><b>Start Date: </b>{{product?.startDate}}</p>
        <p class="m-0"><b>End Date: </b>{{product?.endDate}}</p>
        <p class="m-0"><b>Start Bid: </b>{{product?.startBid}}</p>
        <div class="productFunctions">
            <ul class = "links">
            <li><a class="nav-link"  (click)=" onDeleteProduct(product.id)" routerLinkActive="active" target="_blank"> Delete  </a></li>
            </ul>
        </div>
    </div>
  </div>
</div>  
 

</div>

<!-- <div class="container" id="main-container">
    <div class="row">
        <div *ngFor= "let product of products" class="col-md-6 col-xl-3">

                    <div class="card m-b-30">
                        <div class="card bg-c-blue order-card">
                            <div class="card-body row">
                                <div class="col-6 card-title align-self-center mb-0">
                                    <h5>{{product?.productName}}</h5>
                                    <p class="m-0">{{product?.categoryName}}</p>
                                    <p class="m-0">{{product?.productDescription}}</p>
                                    <p class="m-0">{{product?.startDate}}</p>
                                    <p class="m-0">{{product?.endDate}}</p>
                                    <p class="m-0">{{product?.startBid}}</p>
                                </div>
                            </div>
                            <div class="float-right btn-group btn-group-sm">
                                <a (click)=" onDeleteProduct(product.id)" class="btn btn-secondary tooltips" 
                                 data-original-title="Delete">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
</div> -->

