<app-header></app-header>
<!-- <app-navigation></app-navigation> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About Us card || Learning robo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script> -->
  </head>
  <body>
    <section>
      <div class="image">
        <img src="../../assets/images/aboutUs.jpg" />
        <!-- <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png"> -->
        <!-- <img src="https://cdn.pixabay.com/photo/2018/08/01/10/27/gavel-3576932__340.jpg"> -->
        <!-- <img
          src="https://cdn.pixabay.com/photo/2021/10/19/13/12/squid-game-6723533__340.png"
        /> -->
        <!-- <img src="https://habrastorage.org/webt/su/26/ls/su26lsklntkb0tcei0eqltbxbno.jpeg"> -->
      </div>

      <div class="content">
        <h2>About Us</h2>
        <span><!-- line here --></span>
        <p>
          The main Purpose of Online Auction is to build a user-friendly
          auctioning website, where user will be able to auction any product
          which is available nearby or anywhere in the world. By making auction
          through this application, it will help to reach maximum of buyers
          bidding in local area. To Create a panel where a seller receives
          requests from a buyer and sends back feedback. The scope of this
          application to build a user-friendly auctioning website, where user
          will be able to auctioned any product which is available nearby or
          anywhere in the world.
        </p>
        <ul class="links">
          <li>
            <a
              class="nav-link"
              routerLink="/home"
              routerLinkActive="active"
              target="_blank"
              >Home</a
            >
          </li>

          <!-- <li><a class="nav-link" routerLink="" routerLinkActive="active" target="_blank">Contact</a></li> -->

          <li>
            <a
              class="nav-link"
              routerLink="/feedbackHome"
              routerLinkActive="active"
              target="_blank"
              >Feedback</a
            >
          </li>
        </ul>
        <ul class="icons">
          <li>
            <a href="https://twitter.com/home"><i class="fa fa-twitter"></i></a>
          </li>

          <li>
            <a href="https://www.facebook.com"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/">
              <i class="fa fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </section>
    <br /><br />
  </body>
</html>
<router-outlet></router-outlet>
<app-footer></app-footer>
