<app-header></app-header>

<div class="header-text">
    <h1> Admin DashBoard </h1>
</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" >
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block"> 
                   <h4 class="m-b-20">
                       <a  class="nav-link" routerLink="getBidders" routerLinkActive="active" target="_blank" >List Buyers</a>
                    </h4>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h4 class="m-b-20">
                        <a  class="nav-link" routerLink="getSellers" routerLinkActive="active" target="_blank" >List Sellers</a>
                     </h4>
                </div>
            </div>
        </div>
        
        <!-- <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h4 class="m-b-20">
                        <a  class="nav-link" routerLink="/" routerLinkActive="active" target="_blank" > View Auction</a>
                     </h4>
            </div>
        </div> -->
        
	</div>
</div>