<section id="slideshow">
  
  <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
        
                        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                          <img src="{{ slide.img }}" alt="" width="100%">
                        </div>
                
  

    </ngx-slick-carousel>

</section>

<section id="AboutUs"> 
            
  <div class="about_Heading">
     
      <h1>About Us</h1>
 
  </div>
  <div class="about">
      <div class="about_Info">
          <p> &nbsp; The main Purpose of Online Auction is to build a user-friendly auctioning website, where user will be able to auction any product which is available nearby or anywhere in the world. By using Online Auction System, it will be easy for auctioneer to make an auction and time saving also. By making auction through this application will help to reach maximum of buyers bidding in local area. To Create a panel where a seller receives requests from a buyer and sends back feedback, an answer to a question or requests to meet the bidder. It is also helpful to develop an online auction system which will provide a forum for sellers to meet and interact with buyers, and sell items to interested bidders. The scope of this application to build a user-friendly auctioning website, where user will be able to auctioned any product which is available nearby or anywhere in the world. </p>
      </div>
      <div class="about_Image">
            <img src="../assets/images/info_image.jpg">
      </div>
  </div>
  
</section>

<section id="Feedback">

  <div class="feedback_Heading">
     
    <h1>Feedback</h1>

</div>
  <div class="feedback">
    <div class="feedback-column1">
        <h4>JAYESH LIPARE</h4>
      <p>
        I like this auction site, great customer service! I like the fact that I can list what I want and how many for any length of time. I think it depends on what you are selling that gets the most sales. TThe most important to me is not to have the hassel like at Ebay. I guess you just have to give it a try, I personally like Online Auction.
      </p>  
    </div>

    <div class="feedback-column2">
      
        <h4>VIRAJ MENGAL</h4>
      
      <p>
        I've been both a seller and buyer at onlineauction.com for years. You can't beat the fees. There are a lot of great sellers and buyers here and getting bigger and better all the time. You run your listings/store your own way. Like I said, I've been here many years and I plan to stay for many more!
      </p>
    
    </div>

    <div class="feedback-column3">
      
        <h4>VEDANT MHAPUSKAR</h4>
        
    
      <p>
        This is a great site with a lot of items offered for sale. I enjoy browsing this site, just to see what's offered today. This site is amazing and so different than the others. You are literally the store owner. You make your own decisions.    </p>
    
    </div>
  </div>  

</section>








