

<app-header></app-header>


<section class="nav">
    <div id="topnav">
        <nav>
            <ul>
                <li><a  class="nav-link" routerLink="/home" routerLinkActive="active" target="_blank">Home</a></li>
                <li><a  class="nav-link" routerLink="/registration" routerLinkActive="active" target="_blank" > Sign Up</a></li>
                <li><a  class="nav-link" routerLink="/adminLogin"  routerLinkActive="active" >Admin Login</a></li>
                <li><a  class="nav-link" routerLink="/bidderLogin" routerLinkActive="active" >Bidder Login</a></li>
                <li><a  class="nav-link" routerLink="/sellerLogin" routerLinkActive="active" >Seller Login</a></li>
            </ul>
        </nav>
    </div>

</section>

<app-slideshow></app-slideshow>

               
<app-footer></app-footer>