<!-- <app-header></app-header>

<div class="header-text">
    <h1> Seller DashBoard </h1>
</div>


<section class="nav">
    <div id="topnav">
        <nav>
        <ul>
            <li><a class="nav-link" routerLink="/seller/sellerHome" routerLinkActive="active" >Home</a></li>
            <li><a class="nav-link" routerLink="/seller/viewAuction" routerLinkActive="active" >Auctions</a></li>
            <li><a class="nav-link" routerLink="/seller/addProducts" routerLinkActive="active" >Add Products</a></li>
            <li><a class="nav-link" routerLink="/logout" routerLinkActive="active" target="_blank" >Logout</a></li>
        </ul>
        </nav>
    </div>
</section>

<router-outlet></router-outlet> -->

<app-header></app-header>

<!-- <div class="data" *ngFor= "let buyer of buyers"></div> -->
<div class="header-text">
  <h1>Seller DashBoard</h1>
</div>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Seller Panel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <script src="../../../assets/javaScript/admin.js"></script> -->

    <script
      src="https://kit.fontawesome.com/ec5329f90e.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!---SIDEBAR START-->
    <div class="container">
      <div class="navigation">
        <!--<img src="logo.png" alt="">-->
        <ul>
          <li>
            <a class="nav-link" routerLink="/seller" routerLinkActive="active">
              <span class="icon"><i class="fa fa-user"></i></span>
              <span class="title"><h2>Seller Panel</h2></span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/seller/sellerHome"
              routerLinkActive="active"
            >
              <span class="icon"><i class="fa fa-home"></i></span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li>
            <a
              class="nav-link"
              routerLink="/seller/viewAuction"
              routerLinkActive="active"
            >
              <span class="icon"><i class="fas fa-eye"></i></span>
              <span class="title">Auctions</span>
            </a>
          </li>
          <li>
            <a
              class="nav-link"
              routerLink="/seller/addProducts"
              routerLinkActive="active"
            >
              <span class="icon"><i class="fas fa-plus"></i></span>
              <span class="title">Add Products</span>
            </a>
          </li>
          <li>
            <a
              (click)="logout()"
              class="nav-link"
              routerLink="/logout"
              routerLinkActive="active"
            >
              <span class="icon"><i class="fa fa-sign-out"></i></span>
              <span class="title">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!----SIDEBAR END-->

    <div class="main">
      <div class="topbar">
        <div class="toggle" onclick="toggleMenu();"></div>
      </div>

      <div class="cardBox">
        <!-- </div> -->
      </div>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
<!-- <app-get-bidders></app-get-bidders> -->
