<app-header></app-header>

<div class="header-text">
    <h1> Seller DashBoard </h1>
</div>


<section class="nav">
    <div id="topnav">
        <nav>
        <ul>
            <li><a class="nav-link" routerLink="/seller/sellerHome" routerLinkActive="active" >Home</a></li>
            <li><a class="nav-link" routerLink="/seller/viewAuction" routerLinkActive="active" >Auctions</a></li>
            <li><a class="nav-link" routerLink="/seller/addProducts" routerLinkActive="active" >Add Products</a></li>
            <li><a class="nav-link" routerLink="/logout" routerLinkActive="active" target="_blank" >Logout</a></li>
        </ul>
        </nav>
    </div>
</section>

<router-outlet></router-outlet>