<app-header></app-header>
<!-- <app-navigation></app-navigation> -->

<input
  type="hidden"
  name="id"
  ngModel="{{ product?.id }}"
  class="form-control"
  id="id"
  placeholder="ID"
/>

<input
  type="hidden"
  name="id"
  ngModel="{{ buyer.id }}"
  class="form-control"
  id="id"
  placeholder="ID"
/>

<input
  type="hidden"
  name="email"
  ngModel="{{ buyer.email }}"
  class="form-control"
  id="id"
  placeholder="Email"
/>

<!-- <img [src]="['../assets/photos/' + product?.productImageName+'.jpg']" style="height: 100px; width: 100px;"> -->

<!DOCTYPE html>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
  crossorigin="anonymous"
/>

<div class="card-wrapper">
  <div class="card">
    <!-- card left -->
    <div class="product-imgs">
      <div class="img-display">
        <img
          [src]="['../assets/photos/' + product?.productImageName + '.jpg']"
        />
      </div>
    </div>
    <!-- card right -->
    <div class="product-content">
      <h2 class="product-title">{{ product?.productName }}</h2>
      <div class="product-price">
        <p class="start-bid">Start Bid: <span></span>{{ product?.startBid }}</p>
      </div>
      <div class="product-detail">
        <h2>about this item:</h2>
        <b
          ><p class="product-category">
            Product Category: &nbsp; {{ product?.categoryName }}
          </p></b
        >
        <b
          ><p class="product-description">
            Product Description: &nbsp; {{ product?.productDescription }}
          </p></b
        >
        <b
          ><p class="product-startDate">
            Product Start Date: &nbsp; {{ product?.startDate }}
          </p></b
        >
        <b
          ><p class="product-endDate">
            Product End Date: &nbsp; {{ product?.endDate }}
          </p></b
        >
      </div>
      <div class="purchase-info">
        <button type="button" class="btn" (click)="gotToAddBid()">
          Add your Bid &nbsp; <i class="fas fa fa-plus"></i>
        </button>
        <button type="button" class="btn" (click)="goBackToAuction()">
          Back to Auction &nbsp; <i class="fas fa fa-undo"></i>
        </button>
      </div>
    </div>
  </div>
</div>
