<app-header></app-header>

<div class="main">
  <div class="header-text">
    <h1>Auction Products</h1>
  </div>
  <div class="myBtnContainer">
    <button class="btn active" click="getAllProducts()">All</button>
    <form class="search">
      <input
        type="search"
        (ngModelChange)="searchProducts(key.value)"
        #key="ngModel"
        ngModel
        name="key"
        id="searchName"
        class="searchProduct"
        placeholder="Search Product"
      />
    </form>
    <!-- style="width: 100%;" -->
  </div>
  <div class="row" *ngFor="let product of products">
    <div class="column">
      <div class="content">
        <img
          [src]="['../assets/photos/' + product?.productImageName + '.jpg']"
        />
        <h4><b>Name: </b>{{ product?.productName }}</h4>
        <p class="m-0"><b>Category: </b>{{ product?.categoryName }}</p>
        <p class="m-0"><b>Description: </b>{{ product?.productDescription }}</p>
        <p class="m-0"><b>Start Date: </b>{{ product?.startDate }}</p>
        <p class="m-0"><b>End Date: </b>{{ product?.endDate }}</p>
        <p class="m-0"><b>Start Bid: </b>{{ product?.startBid }}</p>
        <div class="productFunctions">
          <ul class="links">
            <li>
              <a
                class="nav-link"
                [routerLink]="['/bidder/viewProduct/', product.id]"
                routerLinkActive="active"
                target="_blank"
                >View Product
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<app-footer></app-footer> -->
