.header-text {
  display: flex;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #09ded3);
  background: black;
  color: turquoise;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  padding-top: 10px;
  --bs-gutter-x: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

p {
  width: fit-content;
  margin-top: 0;
  margin-bottom: 1rem;
}

.bg-c-blue {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #09ded3);
}

.body {
  height: 460px;
  background: turquoise;
}
