<section class="nav">
  <div class="topnav">
    <nav>
      <ul>
        <li>
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            target="_blank"
          >
            Login</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="/registration"
            routerLinkActive="active"
            target="_blank"
          >
            Sign up</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="/viewAuction"
            routerLinkActive="active"
            target="_blank"
            >My Auctions</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="/aboutUs"
            routerLinkActive="active"
            target="_blank"
            >About us</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            routerLink="/feedbackHome"
            routerLinkActive="active"
            target="_blank"
            >Feedback</a
          >
        </li>
        <!-- <li><a class="nav-link" routerLink="/logout" routerLinkActive="active" target="_blank" >Logout</a></li> -->
      </ul>
    </nav>
  </div>
</section>
