
<section class="nav">
    <div id="topnav">
        <nav>
            <ul>
                <li><a  class="nav-link" routerLink="/home" routerLinkActive="active" target="_blank">Home</a></li>
                <li><a  class="nav-link" routerLink="/login" routerLinkActive="active" target="_blank" > Login</a></li>
                <li><a  class="nav-link" routerLink="/registration" routerLinkActive="active" target="_blank" > Sign up</a></li>
                <li><a href="#">My Auctions</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Feedback</a></li>
                <!-- <li><a class="nav-link" routerLink="/logout" routerLinkActive="active" target="_blank" >Logout</a></li> -->
            </ul>
        </nav>
    </div>

</section>