.heading
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #000;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    
}

.heading h1
{
    color: #09ded3;
}



.header-text
{
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
   background: linear-gradient(rgba(4, 252, 252, 0),#09ded3);
    background: #09ded3;
  
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}



p {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 1rem;
}



.bg-c-blue {
    background: linear-gradient(rgba(4, 252, 252, 0),#09ded3);
}


.col-md-6 {
    flex: 0 0 auto;
    width: 100%;
}



.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;   
     padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}


.links{
    margin: 15px 0;
}
.links li
{
    border: 2px solid #4158D0;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: fit-content;
    text-align: center;
}
.links li a
{
    text-transform: uppercase;
     color: #09ded3;
    
    text-decoration: none;
}


.links li:hover{
    border-color: #09ded3;
}

.AddFeedback
{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    background: black;
}