<app-header></app-header>

<!-- <div class="data" *ngFor= "let buyer of buyers"></div> -->
<div class="header-text">
    <h1> Bidder DashBoard </h1>
</div>


<input type="hidden" name="id" ngModel="{{buyer.id}}" class="form-control" id="id" placeholder="ID">

<input type="hidden" name="email" ngModel="{{buyer.email}}" class="form-control" id="id" placeholder="Email">



<section class="nav">
    <div id="topnav">
    <nav>
     <ul>
        <li><a class="nav-link" [routerLink]="['/bidder/bidderHome/' , buyer.email]" routerLinkActive="active" target="_blank">Home</a></li>
        <li><a class="nav-link" routerLink="/bidder/viewAuction" routerLinkActive="active" target="_blank">Auctions</a></li>
         <li><a class="nav-link" routerLink="/logout" routerLinkActive="active" target="_blank" >Logout</a></li>
     </ul>
    </nav>
    </div>
    </section>
    <div class="row">
        <div class="column">
            <div class="content">
                <h4><b>Name: </b>{{buyer?.name}}</h4>
                <p class="m-0"><b>Username: </b>{{buyer?.username}}</p>
                <p class="m-0"><b>Email: </b>{{buyer?.email}}</p>
                <p class="m-0"><b> Phone No: </b>{{buyer?.phoneNo}}</p>
                
            </div>
        </div>
    </div>

    <!-- <app-add-bid></app-add-bid> -->
<!-- <app-bidder-bidder-nav></app-bidder-bidder-nav> -->